/* 
Colors:

Teal: #4aaaa5
Main headr bckgrd: #ffffff
Header border: #cccccc
footer bckgrd: #666666
#main content border: #dddddd
headings: font-family: 'Georgia', Times, Times New Roman, serif;
all others: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
main width: 960px;
*/

h1, h2, h3, h4, h5, h5 {
    font-family: 'Georgia', Times, 'Times New Roman', Times, serif;
    color: #4aaaa5;

}

h1 {
    padding: 20px 0;
    border-bottom: 2px solid #dddddd;
    margin-bottom: 30px;
}

body {
    background-image: url(../images/succulent_background.svg);
    background-repeat: none;
    background-attachment: fixed;
    background-color: #fff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#wrapper {
    max-width: 960px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 90px;
    border: 3px solid #ddd;
}

.feature-left {
    float: left;
    margin-right: 20px;
}

.clearfix {
    clear: both;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}



/* Portfolio Page Styles */

.row .col-md-4 {
    margin-bottom: 30px;
}



/* NavBar Styles */
header {
    border-bottom: 5px solid #ddd;
    width: 100%;
    background-color: #fff;
}

.navbar .navbar-expand-lg .navbar-light .bg-light{
    padding: 0;
    margin: 0;
    text-align: center;

}

.navbar-brand {
    background-color: #4aaaa5;
    /* color: white; */
    padding: 10px;
    font-family: 'Georgia', Times, 'Times New Roman', Times, serif;
    margin: 0px;
    font-size: 2em;
}

.navbar-light .navbar-brand {
    color: white;
}

/* .navbar-light:hover {
    color: #666;
}

.navbar-brand:hover {
    color: #666;
} */

.navbar-light a:hover, .navbar-brand a:hover {
    color: #dddddd;
}

.bg-light {
    background-color: #ffffff!important;
}

nav {
    max-width: 990px;
    align-content: center;
    margin: 0 auto;
}

.navbar-nav {
    float: right;
}


/* form */

.submit {
    background-color: #4aaaa5;
    border-radius: 0px;
    width: 120px;
}

.submit:hover {
    background-color: #666;
}